<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script> 
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="page">
      <div class="container">
       
        <div class="left">
            <form class="form">
                <div class="wrap-1">
                <label for="language" class="text name">Programming Language:</label>
        <select id="language" name="language">
            <option value="python">Python</option>
            <option value="go">Go</option>
            <option value="javascript">JavaScript</option>
        </select>
   </div>
   <div class="wrap-1">
        <div for="code" class="text name">Code:</div>
        <textarea id="code" name="code" rows="25" cols="35"></textarea>
        </div>
        <br>
               
               
            
                </form>
        </div> 
        <div class="right">
          <div class="login">Commentator by Sam Ayo</div>
          <div class="eula">Commentator provides you AI generated comments on your code. <br> So you can focus more on writing awesome logics!</div>
        </div>
      </div>
    </div>
    <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js'></script><script  src="./script.js"></script>
      <script  src="./script.js"></script>
    </body>
</html>