<div class="container-sm">

    <div class="left">
        <h3>Commentator supports only functions</h3>

        <form class="form" id="commentSubmit"  method="post" action="/api/v1/generate-comments">
            <div class="wrap-1" style="display: inline-flex;">

                <label for="language" class="text name">Programming
                    Language:</label>
                <select id="language" name="language" style="width: 150px; margin-left: 5px;">
                    <!-- <option value="c++">C#</option>
                    <option value="c#">C++</option> -->
                    <option value="golang">Go</option>
                    <option value="javascript">JavaScript</option>
                    <option value="python">Python</option>
                    <!-- <option value="rust">Rust</option>
                    <option value="typescript">TypeScript</option> -->
                </select>
            </div>
            <div class="wrap-1">
                <div for="code" class="text name">Code:</div>
                <textarea id="code" name="code" rows="30" cols="45"></textarea>
            </div>
            <br>

            <div class="svg-wrapper">
                <svg height="40" width="320" xmlns="http://www.w3.org/2000/svg">
                    <rect class="shape" height="40" width="320" />
                    <div class="text-submit name">Submit</div>
                    <input id="comment-submit" type="submit" value="Submit" class="text overlay" tabindex=3>
                </svg>
            </div>

        </form>
    </div>
    <div class="right">
        <div class="title">Commentator by Sam Ayo</div>
        <div class="eula">Commentator provides you AI generated comments on your code. <br> So you can focus
            more on writing awesome logics!</div>
            <div>
              <code style="background-color: #f1f1f1; color: #777777; padding: 15px; font-family: monospace;">
                  func (cm *CodeCommentData) MakeCodeComments(c echo.Context) error {}
              </code>
          </div>
          
    </div>
</div>